@import '/src/style.less';

.feedback-card {
    border-radius: 2px;
    padding: 16px;
    max-width: 1184px;
    height: 128px;
    box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.15);
    background: @character-light-primary-inverse;
}
