@import '/src/style-variables.less';

.ant-layout-footer.calendar-footer {
    height: 42px;
    background: transparent;
    margin-top: auto;
}

.calendar-wrapper {
    height: 100%;
    background: @primary-light-1;
    padding: 25px;
}
