@import '/src/style-variables.less';

.ant-picker-calendar.app-calendar {
    background: @primary-light-1;
}

.ant-picker-calendar.ant-picker-panel.ant-picker-body {
    padding: 0;
}

.calendar-date-cell {
    position: absolute;
    width: 100%;
    height: 100%;
    overflow: hidden;
    top: 0;
    padding-top: 20px;
}

.calendar-date-cell .date-cell-content {
    overflow: scroll;
    width: 100%;
    height: 100%;
}

.calendar-date-cell .date-cell-content::-webkit-scrollbar {
    display: none;
}

.ant-modal-mask {
    background: transparent;
    pointer-events: none;
}
.ant-modal-wrap {
    pointer-events: none;
}
.ant-modal {
    pointer-events: all;
}
