@import '/src/style-variables.less';

:root {
    max-width: 1440px;
    margin: @space-0 auto;
    height: @height-100vh;
    background-color: @character-light-background;
}

.ant-layout.results-page-layout {
    height: 1024px;
    margin: @space-0 auto;
    background-repeat: no-repeat;
    position: relative;
    background-image: url('/enter-page-bg.png');
}

@media (max-width: 520px) {
    .ant-layout.results-page-layout {
        height: @height-100vh;
    }
}
