@import '/src/style.less';

.header-link {
    max-height: 30px;
    font-family: @font-family;
    font-weight: 400;
    font-size: 14px;
    line-height: 130%;
    color: @character-light-title-85;
}

header {
    display: flex;
    padding: 10px 24px !important;
    width: 1232px !important;
    height: 168px !important;
    background: @primary-light-1 !important;
}

.header-right-col {
    width: 129px;
    height: 32px;
    font-family: @font-family;
    font-weight: 400;
    font-size: 14px;
    line-height: 130%;
    text-align: center;
    color: @character-light-title-85;
    display: flex;
    align-items: center;
    gap: 11px;
    letter-spacing: 0.7px;
    padding-left: 15px;
    margin-top: 32px;
}

.header-left-col {
    padding: 6px 0px;
    width: 1055px;
    height: 110px;
}

.header-title {
    margin-top: 16px;
    font-family: @font-family;
    font-weight: 700;
    font-size: 38px;
    line-height: 130%;
    color: @character-light-title-85;
    letter-spacing: 0.6px;
}

.settings-icon {
    color: @character-light-title-85 !important;
}
