@import '/src/style-variables.less';

.ant-layout-header.calendar-header {
    background: @primary-light-1;
    display: flex;
    justify-content: space-between;
    padding: @space-2s @space-xl;
    height: 70px;
}

.calendar-header-link-wrapper {
    margin-top: calc(0px - @space-2l);
}
