@import '/src/style.less';

.side-panel-collapse-button {
    cursor: pointer;
    position: absolute;
    right: -26px;
    top: 46.8%;
    height: 66px;
    width: 26px;
    clip-path: polygon(0 0, 75% 14%, 75% 85%, 0% 100%);
    background-color: @character-light-primary-inverse;
    z-index: 1;
}

.side-panel-collapse-icon {
    z-index: 2;
    margin-top: 26px;
    color: @character-light-secondary-45 !important;
}

@media (max-width: 835px) {
    .side-panel-collapse-button {
        top: 47.3%;
    }
}

@media (max-width: 520px) {
    .side-panel-collapse-button {
        top: 2.5%;
        right: -40px;
        width: 40px;
        height: 48px;
    }
    .side-panel-collapse-icon {
        margin-top: 17px;
        margin-left: 8px;
    }
}
