@import '/src/style-variables.less';

.main-content-wrapper {
    padding: 24px;
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
}

@media (max-width: 520px) {
    .main-content-wrapper {
        padding: 24px 16px 0;
    }
}
