@import '/src/style-variables.less';

.main-content-cards {
    margin-top: @space-1xs;
    display: flex;
    max-width: 752px;
    justify-content: space-between;
    gap: 16px;
}

.card-wrapper {
    border-radius: 2px;
    width: 100%;
    max-width: 240px;
    height: 101px;
    background: @character-light-primary-inverse;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.card-title {
    padding-top: @space-s;
    text-align: center;
    font-family: @font-family;
    font-size: @font-size-16;
    line-height: @line-height-130;
    letter-spacing: 0.5px;
    color: @character-light-title-85;
}

.card-link {
    width: 100%;
    max-width: 240px;
    height: 56px;
    box-shadow: inset 0 1px 0 0 @character-light-dividers;
    background: @character-light-primary-inverse;
    display: flex;
    gap: 8px;
    align-items: center;
    justify-content: center;
    font-family: @font-family;
    font-weight: @font-weight-400;
    font-size: @font-size-14;
    line-height: @line-height-130;
    text-align: center;
}

.card-link-icon,
.anticon.card-link-icon {
    fill: @primary-light-6;
    color: @primary-light-6;
}

.main-content-cards > div:nth-child(1) > div > span {
    margin-left: -@space-2xs;
}

@media (max-width: 835px) {
    .card-wrapper {
        max-height: 122px;
        align-items: flex-start;
    }
    .card-title {
        padding: @space-s @space-xl;
        text-align: left;
    }
    .card-link {
        height: 56px;
        padding: @space-2l @space-0;
    }
}

@media (max-width: 768px) {
    .main-content-cards {
        height: 319px;
        flex-direction: column;
        align-items: center;
        max-width: 328px;
        margin: @space-0 auto;
    }
    .card-wrapper {
        max-height: 101px;
        margin: @space-0;
    }
}

@media (max-width: 520px) {
    .main-content-cards {
        margin-top: @space-2xs;
        max-width: 328px;
        width: 328px;
        gap: 8px;
    }
    .card-wrapper {
        width: 100%;
        max-width: 328px;
        max-height: 101px;
        margin: @space-0;
        padding: @space-0;
    }
    .card-title {
        width: @width-100percent;
        padding: @space-s @space-xl;
        text-align: center;
    }
    .card-link {
        max-width: @width-100percent;
        width: @width-100percent;
    }
}
