@import '/src/style-variables.less';

.drawer-exercise-header li {
    width: fit-content;
}

.drawer-exercise-header {
    display: flex;
    justify-content: space-between;
}

.ant-typography.drawer-exercise-header-date {
    font-family: @font-family;
    font-weight: 500;
    font-size: 14px;
    line-height: 130%;
    color: @character-light-secondary-45;
}

.drawer-exercise-buttons {
    margin-top: 20px;
    display: flex;
    button.ant-btn {
        padding: 0px 12px;
        width: 172px;
        height: 40px;
        background: @character-light-dividers;
    }
    button.ant-btn.drawer-exercise-button-add {
        color: @primary-light-6;
    }
}
