@import '/src/style-variables.less';

.footer {
    .footer-link {
        border-radius: 2px;
        padding: @space-2xs @space-2m;
        margin-bottom: @space-5xl3;
        width: 171px;
        height: 40px;
        align-self: flex-end;
        font-family: @font-family;
        text-align: center;
        color: @primary-light-6;
        letter-spacing: 0.6px;
    }
}

.footer.ant-layout-footer {
    padding: @space-0 @space-xl;
    width: 100%;
    max-width: 1376px;
    height: 283px;
    background: transparent;
    display: flex;
    justify-content: space-between;
}

@media (max-width: @width-md) {
    .footer.ant-layout-footer {
        flex-direction: column-reverse;
        margin: @space-0 auto;
        height: 100%;
        max-height: 190px;
    }

    .footer {
        .ant-typography.footer-link {
            margin: @space-2s auto;
        }
    }
}

@media (max-width: @width-sm) {
    .footer.ant-layout-footer {
        margin-bottom: @space-6xl1;
        padding: @space-0 @space-m;
    }
    .footer {
        .ant-typography.footer-link {
            margin: @space-0 auto;
        }
    }
}
