@import '/src/style-variables.less';

.register-container {
    border-radius: 2px;
    padding: @space-8xl2 @space-4xl;
    margin: auto;
    box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.15);
    background: @character-light-primary-inverse;
    z-index: 1;
    width: 539px;
    height: 686px;
}

.ant-form.register-form {
    margin: @space-0 auto;
    max-width: 368px;
    padding-top: 7px;
}

.register-form {
    .auth-input-email {
        margin-bottom: @space-3xl;
    }
    .auth-input-password {
        margin-bottom: @space-2xl;
        height: 60px;
        .ant-form-item-row {
            height: 100%;
            display: flex;
            flex-direction: column-reverse;
        }
    }
    .password-repeat {
        margin-bottom: 42px;
    }

    .ant-input-affix-wrapper-status-error .ant-input-prefix {
        color: @character-light-title-85;
    }

    .ant-form-item-explain-error,
    .ant-form-item-explain-success,
    .ant-form-item-explain,
    .ant-form-item-explain-connected {
        margin-top: @space-3xs;
        font-family: @font-family;
        font-weight: @font-weight-400;
        font-size: @font-size-12;
        line-height: @line-height-130;
        letter-spacing: 0.35px;
    }
    .ant-form-item-explain-success {
        color: @character-light-secondary-45;
    }
    .ant-form-item-explain-error {
        color: @character-light-error;
    }
}

label[for='normal_register_password-repeat'] {
    margin-top: @space-m;
}

.ant-form-item.register-form-button-wrapper {
    margin-bottom: @space-m;
}

@media (max-width: 520px) {
    .register-container {
        padding: @space-3xl @space-m;
        width: 328px;
        height: 564px;
    }

    .ant-form.register-form {
        padding-top: @space-0;
    }

    .register-form .auth-input-email {
        margin-bottom: @space-5xl;
    }
    .register-form .auth-input-password {
        margin-bottom: @space-2l;
    }
    .register-form .auth-input-password.password-repeat {
        margin-bottom: @space-5xl;
    }
}
