@import '/src/style-variables.less';

.ant-typography.main-content-title {
    padding: @space-xl;
    border-radius: 2px;
    max-width: 752px;
    width: 100%;
    height: 126px;
    box-shadow: 0 2px 0 0 rgba(0, 0, 0, 0.04);
    background: @character-light-primary-inverse;
    font-family: @font-family;
    font-size: 20px;
    line-height: 130%;
    color: @character-light-title-85;
}

@media (max-width: @width-xl) {
    .ant-typography.main-content-title {
        height: fit-content;
    }
}

@media (max-width: @width-md) {
    .ant-typography.main-content-title {
        height: fit-content;
        padding: @space-m;
    }
}
