@import '/src/style.less';

.page-layout {
    max-width: 1440px;
    margin: 0 auto;
    height: 100vh;
    flex-direction: row !important;
}

section .ant-layout {
    height: 100%;
    max-height: 1024px;
    background: url('/public/Main\ page_light.png');
    background-position: bottom 50px right 100px;
    background-repeat: no-repeat;
    background-position: -208px bottom;
}

.ant-layout-header {
    width: 100%;
    max-width: 1232px;
}
