@import '/src/style-variables.less';

.page-layout {
    margin: 0 auto;
}

.ant-layout.page-layout {
    flex-direction: row;
    min-height: 100vh;
}

section .ant-layout {
    background: url('/Main_page_light.png');
    background-position: bottom 0 right 0;
    background-repeat: no-repeat;
    background-size: auto 100%;
    background-position: right;
}
