@import '/src/style-variables.less';

.settings-main-content-wrapper {
    margin: @space-xl;
    padding: @space-xl;
    height: 100%;
    background: @character-light-primary-inverse;
    border-radius: 8px;
}

.write-feedback-wrapper {
    margin-top: @space-10xl;
    padding-top: @space-xl;
    display: flex;
    flex-wrap: wrap;
    gap: @space-xs;
}
