@import '/src/style.less';

.side-panel {
    background: @character-light-sider-background !important;
    height: 100% !important;
    max-height: 1024px;
    min-width: 208px !important;
    box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.15);
    background: @character-light-primary-inverse;
}

.side-panel-logo {
    margin: 44px 29px 67px;
}
