@import '/src/style-variables.less';

.profile-main-content-wrapper {
    margin: @space-xl;
    padding: @space-xl;
    height: 100%;
    background: @character-light-primary-inverse;
    border-radius: 8px;
}

.personal-info-inputs-wrapper {
    display: flex;
}

.photo-uploader {
    height: 104px;
    width: 104px;
}

.personal-inputs {
    margin-left: @space-xl;
    max-width: 352px;
    width: 100%;
}

.profile-input.personal {
    height: 40px;
    max-width: 352px;
    width: 100%;
}
.profile-input.security {
    height: 40px;
    max-width: 480px;
}

.update-alert {
    width: 395px;
    position: fixed;
    bottom: 72px;
    margin: 0px auto;
    transform: translateX(50%);
    right: 50%;
}
