@import '/src/style-variables.less';

.ant-modal.training-list-modal {
    padding: @space-0;
    margin: @space-0;
    transform: translateY(0);

    .ant-modal-header {
        .ant-modal-title {
            font-family: @font-family;
            font-weight: 700;
            font-size: 14px;
            line-height: 130%;
            color: @character-light-title-85;
        }
    }
}
